@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h2>Sean(Xiao) Luo</h2>
    <h2>A00964873</h2>

    <p>When I graduate, I want to be a full stack web developper for a social media company</p>
</div>
